{% extends "main.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xs-11 col-md-5 content-section">
            <h2 class="heading--2">{% trans "Change Password" %}</h2>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                <div class="row text-left">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="form--group">
                        {% if form.errors %}
                            {% for error in form.non_field_errors %}
                                <p class="error">
                                <fa class="fa fa-exclamation-circle"></fa> {{ error }}
                                </p>
                            {% endfor %}
                        {% endif %}
                        </div>
                    <div>
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="form--group">
                                {{form.oldpassword}}

                                {% if form.oldpassword.errors %}
                                    {% for error in form.oldpassword.errors %}
                                    <p class="error">
                                    <fa class="fa fa-exclamation-circle"></fa> {{error}}
                                    </p>
                                    {% endfor %}

                            {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="form--group">
                                {{form.password1}}
                                <p class="info">
                                Your password must contain at least 8 characters.
                                </p>
                                {% if form.password1.errors %}
                                {% for error in form.password1.errors %}
                                <p class="error">
                                <fa class="fa fa-exclamation-circle"></fa> {{error}}
                                </p>
                                {% endfor %}
                            {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="form--group">
                                {{form.password2}}
                                {% if form.password2.errors %}
                                {% for error in form.password2.errors %}
                                <p class="error">
                                <fa class="fa fa-exclamation-circle"></fa> {{error}}
                                </p>
                                {% endfor %}
                            {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="form--group">
                                <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}
