{% extends 'main.html' %}

{% load i18n %}

{% block title %} Signup | {% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signin"
            method="POST"
            action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="form-label-group">
                    {% if form.errors %}
                        {% for error in form.non_field_errors %}
                        <p class="error" style='color:red;'>
                            <fa class="fa fa-exclamation-circle"></fa> {{ error }}
                        </p>
                      {% endfor %}
                    {% endif %}
                </div>


            <div class="form-label-group">
                {{form.first_name}}
                <label for="inputfirstName">First Name</label>
                {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                    <p class="error" style='color:red;'>
                            <fa class="fa fa-exclamation-circle"></fa> {{ error }}
                        </p>
                {% endfor %}
                {% endif %}
              </div>
              <div class="form-label-group">
                {{form.last_name}}
                <label for="inputlastName">Last Name</label>
                {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                    <p class="error" style='color:red;'>
                            <fa class="fa fa-exclamation-circle"></fa> {{ error }}
                        </p>
                {% endfor %}
                {% endif %}
              </div>
              <div class="form-label-group">
                {{form.username}}
                <label for="inputUsername">Username</label>
                {% if form.username.errors %}
                {% for error in form.username.errors %}
                   <p class="error" style='color:red;'>
                            <fa class="fa fa-exclamation-circle"></fa> {{ error }}
                        </p>
                {% endfor %}
                {% endif %}
              </div>

              <div class="form-label-group">
                {{form.email}}
                <label for="inputEmail">Email address</label>
                {% if form.email.errors %}
                {% for error in form.email.errors %}
                   <p class="error" style='color:red;'>
                            <fa class="fa fa-exclamation-circle"></fa> {{ error }}
                        </p>
                {% endfor %}
                {% endif %}
              </div>

              <div class="form-label-group">
                {{form.password1}}
                <label for="inputPassword">Password</label>
                {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                    <p class="error" style='color:red;'>
                            <fa class="fa fa-exclamation-circle"></fa> {{ error }}
                        </p>
                {% endfor %}
                {% endif %}
              </div>

              <div class="form-label-group">
                {{form.password2}}
                <label for="inputConfirmPassword">Confirm password</label>
                {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                    <p class="error" style='color:red;'>
                            <fa class="fa fa-exclamation-circle"></fa> {{ error }}
                        </p>
                {% endfor %}
                {% endif %}
              </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
            <button class="btn btn-lg btn-success btn-block text-uppercase"> <a class="text-white" href="{% url 'account_login' %}">Sign In</a></button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}